.cardContainer {
  border-radius: 5px;
  background-color: #F2E9D8;
  width: 100%;
  max-width: 12rem;
  margin: 10px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.014);
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.cardContainer:hover {
  transform: scale(1.05);
}

img {
  border-radius: 5px;
  width: 70%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.content {
  text-align: center;
  padding: 1rem;
}

h2 {
  color:#394159;
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

p {
  color: #394159;
  font-size: 0.9rem;
  font-weight: 100;
  margin: 0;
}

@media (max-width: 768px) {
  .cardContainer {
    max-width: 100%;
    padding: 10px; /* Agregamos un espacio interno para que el contenido no esté pegado al borde de la card */
  }

  img {
    width: 100%;
    max-width: 200px; /* Limitamos el tamaño máximo de la imagen en dispositivos móviles */
  }
}

.link {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
  margin-top: 10px;
  /* Nueva transición para el cambio de color */
  transition: color 0.3s ease-in-out;
  position: relative; /* Agregamos posición relativa para el subrayado */
}

/* Agregamos el subrayado en hover */
.link:hover {
  color: var(--link-hover-color);
}

/* Estilo para el subrayado */
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Distancia del subrayado al texto */
  width: 100%;
  height: 2px;
  background-color: var(--link-hover-color); /* Color del subrayado */
  opacity: 0; /* Por defecto el subrayado no es visible */
  transition: opacity 0.3s ease-in-out; /* Transición para mostrar el subrayado */
}

.link:hover::after {
  opacity: 1; /* Mostramos el subrayado cuando el enlace está en hover */
}
