.cardContainer {
  background-color: #f2e9d8;
  width: 10rem;
  height: 10rem;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.cardContainer:hover {
  transform: scale(1.05);
}

.cardContent {
  text-align: center;
  color: #394159;
}

.cardContent h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardContent p {
  font-size: 1rem;
}