.navContainer {
  background-color: #394159;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.link {
  color: #f2e9d8;
  text-decoration: none;
  margin-right: 20px;
  padding: 8px 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
  background-color: #f2e9d8;
  color: #394159;
}

.link.active {
  background-color: #f2e9d8;
  color: #394159;
  font-weight: bold;
}

.searchBarContainer {
  display: flex;
  align-items: center;
}